.containerCardLabel {
  position: absolute;
  bottom: 90px;
  right: 0;
}

.contentCardLabel {
  display: flex;
  align-items: center;
  background-color: #0D0D0DEF;
  justify-content: center;
  color: #FFFFFF;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: 40px;
  padding: 0px 30px;
}
