* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
}

body {
  background: #000224;
  background: linear-gradient(90deg, #020024 0%, #09097E 35%, #09097E 100%);
  border-radius: 10px;
}
